{
    "extends": "@istanbuljs/nyc-config-typescript",
    "skipEmpty": true,
    "all": true,
    "reporter": [
        "text"
    ],
    "include": [
        "**/src/**"
    ],
    "exclude": [
        "**/src/commands/**",
        "**/src/ftb-tool.ts",
        "**/src/index.ts",
        "**/tests",
        "**/coverage",
        "**/*.js",
        "**/*.d.ts"
    ],
    "clean": true
}
